.fa-3x{
    padding: 5px 10px;
}

i.facebook{
    color: #606ee2;
}

i.twitter{
    color: #19cbe6;
}

i.google-plus{
    color: #ff4a5e;
}

i.linkedin{
    color: #303f9f;
}

i.pinterest{
    color: #d50000;
}